<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" href="/font/fonts.css">
<link rel="stylesheet" type="text/css" href="/css/nav-footer.css">
<link rel="stylesheet" type="text/css" href="/material-design-iconic-font/css/material-design-iconic-font.css">
 <link rel="shortcut icon" href="/images/logos/logo.png" type="image/x-icon" />


		 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">


      <link rel="stylesheet" href="css/animate.css">

      <link rel="stylesheet" href="/css/aos.css">
      <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
      <link rel="stylesheet" href="/css/jquery.timepicker.css">
      <link rel="stylesheet" href="/css/fancybox.min.css">

      <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
      <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
<header>
      <div id="nav">
          <div class="nav-logo"  onclick="location.href='/'">
              <img src="/images/logos/logo(1).png">WINGER
          </div>
          <div class="nav-elements" style="margin-left: auto;" onclick="location.href='/'">Home</div>
          <div class="nav-elements" onclick="location.href='/users/login'">Login</div>
          <div class="nav-elements" onclick="location.href='/users/register'">Sign up</div>
          <div class="nav-elements" onclick="location.href=''">Become a Host</div>

      </div>
  </header>
<div class="login-container"
     style="background-image: url('/images/home/loginBack.jpg'); background-repeat: no-repeat; background-size: cover; background-position: bottom">
    <div class="log-form">

        <%- include ("./partials/messages") -%>

        <form action="/users/login" method="POST">
            <h2>Login</h2>
            <div class="form-input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"/>
                <span class="input-icon" data-symbol=""></span>
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
                <span class="input-icon" data-symbol=""></span>
            </div>
            <a class="forgot" href="#">Forgot Username?</a>
            <div class="submit">
                <div class="submit-background">                </div>
                    <button class="btn" type="submit">
                        Login
                    </button>
            </div>
            <div class="text1">Or Sign up Using</div>
            <a class="btn-block btn-social btn-google" href="/auth/google" role="button">
                <div class="google-logo"><img src="/images/logos/google.png" width="28px"></div>
            </a>
            <div class="text1">
                Or
                <div class="text2" onclick="location.href='/users/register'">
                    Register Now
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="log-form">
  <h2>Login to your account</h2>

  <%- include ("./partials/messages") -%>

  <form action="/users/login" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div> -->
<!--end log form -->
<footer>
        <div class="footer">
                <div class="footer-placeholder">
                    <a href="#" class="logo"><img src="/images/logos/zwinger.png" alt="Logo" height="100px" width="160px"></a>
                </div>
                <div class="footer-copyright">
                    Copyright @Zwinger 2020.  All rights reserved.
                </div>
          </div>
      </footer>
	<script src="/js/jquery-3.3.1.min.js"></script>
      <script src="/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
